@{
    ViewData["Title"] = "Пациентам";
}

<link rel="stylesheet" href="~/css/Text_Page/Text_Page.css" />

<style>
    a {
        color: #7AABA2;
    }
</style>

<script>
    $(function () {
        $("#content").load("/html_content/ForPatients/ForPatients/content.html");
    });
    $(function () {
        $("#content_mobile").load("/html_content/ForPatients/ForPatients/content.html");
    });
    $(function () {
        $("#additional_content_desktop").load("/html_content/ForPatients/ForPatients/additional_content.html");
    });
</script>

<div id="submenu" class="submenu">
    <a asp-area="" asp-controller="Home" asp-action="Index">
        <img src="~/images/logo/submenu/home.svg" class="home_icon" />
    </a>
    <img src="~/images/logo/submenu/cdot.svg" class="cdot_in_submenu" />

    <div class="sub_item">
        Пациентам
    </div>
</div>


<div class="main_page_template_table" id="main_page_template_table">

    <!-- Мобильная версия -->

    <div class="row justify-content-md-center small_text_div_text_page">
        <div class="col-md-6" style="flex: 0 0 100%;">

            <div id="img_mobile" style="margin-bottom: 30px;">
                <img src="~/images/Content/For_Patients/image_1.png" style="width: 100%;" />
            </div>

            <div id="content_mobile" class="content_mobile">
            </div>

        </div>
    </div>

    <!-- Десктопная версия -->

    <div class="row justify-content-md-center big_text_div_text_page">
        <div class="col-md-6">

            <div id="content" class="content">
            </div>

        </div>
        <div class="col-md-6 big_slider_div_text_page">
            <div style="margin-top: 1px;" align="right">

                <img src="~/images/Content/For_Patients/image_1.png" style="width: 97%;" />

                <style>
                    @@media (min-width: 769px) {
                        .div_with_margin_top_above_img {
                            margin-top: 5px;
                        }
                    }
                    @@media (min-width: 1440px) {
                        .div_with_margin_top_above_img {
                            margin-top: calc(10px + (100vw - 1440px) * (50 - 10) / (1920 - 1440));
                        }
                    }
                     @@media (min-width: 1921px) {
                        .div_with_margin_top_above_img {
                            margin-top: 50px;
                        }
                    }
                </style>

                <div id="additional_content_desktop" align="left" style="width: 97%;" class="text div_with_margin_top_above_img">
                </div>

            </div>
            <br>

        </div>
    </div>
</div>