@media (max-width: 1000.8px) {
    .big_slider_div {
        display: none;
    }
}

@media (max-width: 1000.8px) {
    .big_text_div {
        display: none;
    }
}

@media (min-width: 1000.8px) {
    .small_slider_div {
        display: none;
    }
}


@media (min-width: 1000.8px) {
    .small_main_text {
        display: none;
    }
}

/* question_form */
/* -------------------------------------------------------- */
.question_form {
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);

    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

@media (max-width: 768px) {
    #question_form {
        display: none;
    }
}

@media (min-width: 1366px) {
    .question_form {
        width: calc(541px + (100vw - 1366px) * (587 - 541) / 480);
        margin-top: calc(11px + (100vw - 1366px) * (30 - 11) / (1920 - 1366));
    }
}

@media (min-width: 769px) {
    .question_form {
        max-width: 587px;
    }
}

/* ------------------------------------------------------------------------------------ */

@media (max-width: 670px) {
    #question_form_mobile {
        margin-top: 50px;
    }
}

@media (max-width: 670px) {
    #question_form_mobile {
        margin-top: 130px;
    }
}

@media (min-width: 671px) and (max-width: 768px) {
    #question_form_mobile {
        margin-top: 50px;
    }
}

.question_form_mobile {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

/* ------------------------------------------------------------------------------------ */
.title_24 {
    font-family: LatoWeb;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    text-transform: uppercase;
    color: #2A2A2A;
    text-align: left;
}

.title_20 {
    font-family: LatoWeb;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    text-transform: uppercase;
    color: #2A2A2A;
}

.text_16 {
    font-family: LatoWeb;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #2A2A2A;
    margin-top: 10px;
}


.input_in_question_form {
    font-family: LatoWeb;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #9E9E9C;
    border-bottom: 2px solid #9E9E9C;
    border-top: none;
    border-left: none;
    border-right: none;
}



/* ------------------------------------------------------------ */

.green_links {
    font-family: LatoWeb;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #7AABA2;
    margin-top: calc(10px - (100vw - 1440px) * (10 - 4) / (1920 - 1440));
}

@media (min-width: 1921px) {
    .green_links {
        margin-top: 15px;
    }
}

/* ------------------------------------------------------------ */

.content_title {
    font-family: LatoWeb;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    text-transform: uppercase;
    color: #2A2A2A;
}

@media (min-width: 1921px) {
    .content_title {
        font-size: calc(24px + (100vw - 1921px) * (40 - 24) / (2560 - 1920));
    }
}



.navigation_indexes {
    font-family: LatoWeb;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
}



.title_18 {
    font-family: LatoWeb;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    text-transform: uppercase;
    color: #000000;
}


.question_form_send_button {
    margin-top: calc(20px + (100vw - 1440px) * (50 - 20) / 480);
    width: 200px;
    height: 60px;
    background: #7AABA2;
    font-family: LatoWeb;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
}

@media (max-width: 768px) {
    .question_form_send_button {
        margin-top: calc(20px + (100vw - 320px) * (30 - 20) / (768 - 320));
    }
}

@media (min-width: 1921px) {
    .question_form_send_button {
        margin-top: 50px;
    }
}


.to_learn_more_caption {
    font-size: 18px;
    color: #587D5F;
    font-style: normal;
    line-height: 22px;
    font-weight: 600;
    margin-top: 4px;
    margin-left: 42px;
    text-transform: uppercase;
}


.to_learn_more_caption_mobile {
    font-size: 14px;
    color: #587D5F;
    font-style: normal;
    line-height: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.full_name_doctor_thumbnail {
    font-family: LatoWeb;
    font-style: normal;
    font-weight: bold;
    line-height: 19px;
    color: #2A2A2A;
    font-size: 16px;
}

.thumbnail_text {
    font-family: LatoWeb;
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
    color: #2A2A2A;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.to_learn_more_caption_less {
    color: #7AABA2;
    font-style: normal;
    margin-left: 0px;
}


@media (min-width: 320px) {
    .to_learn_more_caption_less {
        font-size: 14px;
    }
}

.right_part_of_doctor_thumbnail {
    vertical-align: top;
    padding-left: 30px;
}

@media (max-width: 768px) {
    .right_part_of_doctor_thumbnail {
        padding-left: 20px;
    }
}

/* ------------------------------------------- */

@media (min-width: 376px) {
    .photo_thumbnail {
        height: calc(100px + (100vw - 376px) * (150 - 100) / (550 - 376));
    }
}

@media (min-width: 550px) {
    .photo_thumbnail {
        height: 150px;
    }
}

@media (max-width: 384px) {
    .photo_thumbnail {
        height: 280px;
        margin-bottom: 20px;
    }
}

.doctor_thumbnail {
    margin-top: 20px;
}

@media (min-width: 1366px) {
    .doctor_thumbnail {
        margin-top: calc(20px + (100vw - 1366px) * (50 - 20) / (1920 - 1366));
    }

    .photo_thumbnail {
        height: calc(100px + (100vw - 1366px) * (150 - 100) / (1920 - 1366));
    }

    .full_name_doctor_thumbnail {
        font-size: calc(16px + (100vw - 1366px) * (18 - 16) / (1920 - 1366));
    }

    .thumbnail_text {
        font-size: calc(14px + (100vw - 1366px) * (16 - 14) / (1920 - 1366));
        margin-top: calc(3px + (100vw - 1365px) * (20 - 3) / (1920 1366));
        margin-bottom: calc(10px + (100vw - 1366px) * (29 - 10) / (1920 - 1366));
    }

    .to_learn_more_caption_less {
        font-size: calc(17px + (100vw - 1366px) * (18 - 17) / (1920 - 1366));
    }
}

@media (min-width: 385px) {
    .doctor_thumbnail_mobile {
        display: none;
    }
}

@media (max-width: 384px) {
    .doctor_thumbnail {
        display: none;
    }
    .doctor_thumbnail_mobile {
        margin-top: 20px;
    }
}




/* ---------------------------------------- */
