@{
    ViewData["Title"] = "Заболевания органов желудочно - кишечного тракта";
}

<link rel="stylesheet" href="~/css/Text_Page/Text_Page.css" />
<link rel="stylesheet" href="../css/right_part_content_flush_background_rect/right_part_content_flush_background_rect.css" />

<script>
    $(function () {
        $("#right_part_content_flush_background_rect").load("/html_content/making_an_appointment_form/making_an_appointment_form.html");
    });
</script>

<script>
    $(function () {
        $("#content").load("/html_content/Treatment/Diseases_of_the_gastrointestinal_tract/content.html");
    });
    $(function () {
        $("#content_mobile").load("/html_content/Treatment/Diseases_of_the_gastrointestinal_tract/content.html");
    });
</script>

<div id="submenu" class="submenu">
    <a asp-area="" asp-controller="Home" asp-action="Index">
        <img src="~/images/logo/submenu/home.svg" />
    </a>
    <img src="~/images/logo/submenu/cdot.svg" class="cdot_in_submenu" />

    <a class="sub_item" asp-area="" asp-controller="Treatment" asp-action="Treatment">
        Лечение
    </a>

    <img src="~/images/logo/submenu/cdot.svg" class="cdot_in_submenu" />

    <div class="sub_item sub">
        Заболевания органов желудочно - кишечного тракта
    </div>
</div>


<div id="right_part_content_flush_background_rect">
</div>

<div class="main_page_template_table" id="main_page_template_table">

    <!-- Мобильная версия -->

    <div class="row justify-content-md-center small_text_div_text_page">
        <div class="col-md-6" style="flex: 0 0 100%;">

            <div id="content_mobile" class="content_mobile">
            </div>

        </div>
    </div>

    <!-- Десктопная версия -->

    <div class="row justify-content-md-center big_text_div_text_page">
        <div class="col-md-6" style="vertical-align: middle;
width: calc(750px + (100vw - 1440px) * 224 / 480);
flex: 0 0 57%;">

            <div id="content" class="content">
            </div>

        </div>
        <div class="col-md-6 big_slider_div_text_page" style="padding-bottom: 65px;  flex: 0 0 43%;">
            <div style="margin-top: 1px;" align="center">

            </div>
            <br>

        </div>
    </div>
</div>

