@{
    ViewData["Title"] = "Лечение";
}

<link rel="stylesheet" href="~/css/Text_Page/Text_Page.css" />
<link rel="stylesheet" href="~/css/List_of_categories/List_of_categories.css" />
<link rel="stylesheet" href="~/css/Turquoise_rectangle/Turquoise_rectangle.css" />
<link rel="stylesheet" href="~/css/schedule/schedule.css" />
<link rel="stylesheet" href="~/css/right_part_content_flush_background_rect/right_part_content_flush_background_rect.css" />

<link rel="stylesheet" href="~/css/button_green_white/button_green_white.css" />

<style>
    .green_links {
        text-align: left;
    }

    

    .green_button {
        background: #7AABA2;
        color: #FFFFFF;
        width: 232px;
        margin-right: 50px;
    }

    .white_button {
        width: 249px;
        background: white;
        color: black;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
        margin-right: 50px;
        margin-top: -30px;
    }

    @@media (min-width: 1440px) {
        .footer {
            margin-top: 0px;
        }
    }

    @@media (min-width: 1440px) {
        .content {
            height: calc(570px + (100vw - 1440px) * (650 - 570) / 480);
        }
    }
</style>

<script>
    $(function () {
        $("#question_form").load("/html_content/question_form/question_form.html");
    });
    $(function () {
        $("#question_form_mobile").load("/html_content/question_form/question_form.html");
    });
</script>

<div id="submenu" class="submenu">
    <a asp-area="" asp-controller="Home" asp-action="Index">
        <img src="~/images/logo/submenu/home.svg" />
    </a>
    <img src="~/images/logo/submenu/cdot.svg" class="cdot_in_submenu" />

    <a class="sub_item sub">
        Лечение
    </a>
</div>


<div id="gray_rect_background_of_question_form">
</div>


<div id="right_part_content_flush_background_rect">
    <div id="question_form">
    </div>

    <div class="schedule">
        <div class="shedule_title">
            График работы клиники
        </div>
        <div class="shedule_text">
            Приём врачей поликлинического отделения КММЦ Святителя Луки,
            <br>
            по адресу: г. Симферополь, бул. Ленина 5/7 с 8:00 до 19:30
            <br>
            Стационар работает круглосуточно.
            <br>
            Посещение пациентов с 17:00 до 19:30
        </div>
        <div class="green_links">
            Просмотреть наших врачей &rarr;
        </div>
        <div class="green_links">
            Перейти к вопросы — Ответы &rarr;
        </div>
    </div>
</div>

<div class="main_page_template_table" id="main_page_template_table">

    <!-- Мобильная версия -->

    <div class="row justify-content-md-center small_text_div_text_page">
        <div class="col-md-6" style="flex: 0 0 100%;">

            <div id="content_mobile" class="content_mobile">
                <p class="treatment_title">
                    Что мы лечим?
                </p>

                <div class="list_of_sections_box">
                    <ul class="list_of_sections">
                        <li>
                            <a asp-area="" asp-controller="Treatment" asp-action="Thyroid_disease">
                                Заболевания щитовидной железы
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Treatment" asp-action="Visual_diseases">
                                Заболевания органов зрения
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Treatment" asp-action="ENT_diseases">
                                Заболевания лор – органов
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Treatment" asp-action="Skin_and_sexually_transmitted_diseases">
                                Кожно-венерические заболевания
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Treatment" asp-action="Dental_and_maxillofacial_diseases">
                                Заболевания зубо-челюстного аппарата
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Treatment" asp-action="Diseases_of_the_cardiovascular_system">
                                Заболевания сердечно-сосудистой системы
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Treatment" asp-action="Diseases_of_the_musculoskeletal_system">
                                Заболевания опорно–двигательного аппарата
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Treatment" asp-action="Allergic_and_immunological_diseases">
                                Аллергические и иммунологические заболевания
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Treatment" asp-action="Allergic_and_immunological_diseases">
                                Заболевания органов мочевыделительной системы
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Treatment" asp-action="Diseases_of_the_gastrointestinal_tract">
                                Заболевания органов желудочно-кишечного тракта
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Treatment" asp-action="Bariatrics">
                                Бариатрия
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Treatment" asp-action="Pelvic_diseases">
                                Заболевания органов малого таза (матка, яичники, маточные трубы, предстательная железа)
                            </a>
                        </li>
                    </ul>
                </div>

                <div>
                    <a asp-area="" asp-controller="ForPatients" asp-action="Paid_Services" class="green_button button">
                        Узнать стоимость
                    </a>

                    <button class="white_button button">
                        Консультация врача
                    </button>
                </div>


                <div id="question_form_mobile">
                </div>

                <div class="schedule">
                    <div class="title_18">
                        ГРАФИК РАБОТЫ КЛИНИКИ
                    </div>
                    <div class="text_16">
                        Приём врачей поликлинического отделения КММЦ Святителя Луки,
                        <br>
                        по адресу: г. Симферополь, бул. Ленина 5/7 с 8:00 до 19:30
                        <br>
                        Стационар работает круглосуточно.
                        <br>
                        Посещение пациентов с 17:00 до 19:30.
                    </div>
                    <br>

                    <style>
                        @@media (min-width: 1366px) and (max-width: 1920px) {
                            .margin_top_to_learn_more_caption_mobile {
                                margin-top: calc(10px - (100vw - 1366px) * 10 / (1920 - 1366));
                            }
                        }

                        @@media (min-width: 1921px) {
                            .margin_top_to_learn_more_caption_mobile {
                                margin-top: 0px;
                            }
                        }

                        .to_learn_more_caption_mobile {
                            margin-top: calc(14px + (100vw - 320px) * (18 - 14) / (768 - 320));
                        }
                    </style>

                    <a href="" class="to_learn_more_caption_mobile">
                        УЗНАТЬ БОЛЬШЕ &rarr;
                    </a>
                    <br>
                    <a href="" class="to_learn_more_caption_mobile">
                        ПЕРЕЙТИ К ВОПРОСЫ — ОТВЕТЫ &rarr;
                    </a>

                </div>

            </div>

        </div>
    </div>

    <!-- Десктопная версия -->

    <div class="row justify-content-md-center big_text_div_text_page">
        <div class="col-md-6" style="vertical-align: middle;
width: calc(750px + (100vw - 1440px) * 224 / 480);
flex: 0 0 58%;">

            <div id="content" class="content">

                <p class="treatment_title">
                    Что мы лечим?
                </p>

                <div class="list_of_sections_box">
                    <ul class="list_of_sections">
                        <li>
                            <a asp-area="" asp-controller="Treatment" asp-action="Thyroid_disease">
                                Заболевания щитовидной железы
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Treatment" asp-action="Visual_diseases">
                                Заболевания органов зрения
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Treatment" asp-action="ENT_diseases">
                                Заболевания лор – органов
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Treatment" asp-action="Skin_and_sexually_transmitted_diseases">
                                Кожно-венерические заболевания
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Treatment" asp-action="Dental_and_maxillofacial_diseases">
                                Заболевания зубо-челюстного аппарата
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Treatment" asp-action="Diseases_of_the_cardiovascular_system">
                                Заболевания сердечно-сосудистой системы
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Treatment" asp-action="Diseases_of_the_musculoskeletal_system">
                                Заболевания опорно–двигательного аппарата
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Treatment" asp-action="Allergic_and_immunological_diseases">
                                Аллергические и иммунологические заболевания
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Treatment" asp-action="Allergic_and_immunological_diseases">
                                Заболевания органов мочевыделительной системы
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Treatment" asp-action="Diseases_of_the_gastrointestinal_tract">
                                Заболевания органов желудочно-кишечного тракта
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Treatment" asp-action="Bariatrics">
                                Бариатрия
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Treatment" asp-action="Pelvic_diseases">
                                Заболевания органов малого таза (матка, яичники, маточные трубы, предстательная железа)
                            </a>
                        </li>
                    </ul>
                </div>


                <button asp-area="" asp-controller="ForPatients" asp-action="Paid_Services" class="green_button button">
                    Узнать стоимость
                </button>
                <button class="white_button button">
                    Консультация врача
                </button>

            </div>


        </div>
        <div class="col-md-6 big_slider_div_text_page" style="padding-bottom: 65px;  flex: 0 0 42%;">
        </div>
    </div>
</div>

