@{
    ViewData["Title"] = "Главная";
}

<link rel="stylesheet" href="~/css/Index_Page/index.css" />
<link rel="stylesheet" href="~/css/Index_Page/slider.css" />

<div class="main_page_template_table" id="main_page_template_table" style="margin-top: 100px;">
        <div class="row justify-content-md-center small_slider_div">
            <div class="col-md-6" style="padding-bottom: 65px; flex: 0 0 100%;">
                <div style="margin-top: 1px; max-height: 700px;" align="center">

                    <div class="w3-content w3-display-container">
                        <img class="mySlides mySlides_small" src="~/images/img_slider_index_page/IMG_1606.png" style="width: calc(100vw - 40px);">
                        <img class="mySlides mySlides_small" src="~/images/img_slider_index_page/846A5701.png" style="width: calc(100vw - 40px);">
                        <img class="mySlides mySlides_small" src="~/images/img_slider_index_page/IMG_1623.png" style="width: calc(100vw - 40px);">
                        <img class="mySlides mySlides_small" src="~/images/img_slider_index_page/IMG_9424.png" style="width: calc(100vw - 40px);">

                        <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle">
                            <span class="w3-badge demo demo_small w3-border w3-transparent w3-hover-white" onclick="currentDiv_small(0)"></span>
                            <span class="w3-badge demo demo_small w3-border w3-transparent w3-hover-white" onclick="currentDiv_small(1)"></span>
                            <span class="w3-badge demo demo_small w3-border w3-transparent w3-hover-white" onclick="currentDiv_small(2)"></span>
                            <span class="w3-badge demo demo_small w3-border w3-transparent w3-hover-white" onclick="currentDiv_small(3)"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-md-center small_main_text">
            <div class="col-md-6" style="flex: 0 0 100%;">
                <div class="clinical_medical_multidisciplinary_center_caption_on_index_page_mobile">
                    Клинический медицинский
                    многопрофильный центр
                </div>
                <div class="Saint_Luke_caption_mobile">
                    Святителя Луки
                </div>
                <div class="CFU_caption_on_index_page_mobile">
                    Крымского федерального университета
                    <br>
                    им. В.И. Вернадского
                </div>
                <br>
                <div class="text_on_index_page_mobile">
                    Добро пожаловать в Клинический медицинский многопрофильный центр Святителя Луки Крымского федерального университета им. В.И. Вернадского.
                    <br><br>
                    У нас работают ведущие врачи Крыма: профессора, доктора медицинских наук, доценты, кандидаты медицинских наук, врачи высшей категории.
                </div>

                <div align="center" style="margin-top: 20px;
        margin-bottom: 25px;">
                    <a asp-area="" asp-controller="About" asp-action="Structure" class="to_learn_more_caption_mobile">
                        УЗНАТЬ БОЛЬШЕ &rarr;
                    </a>
                </div>
            </div>
        </div>

        <div class="row justify-content-md-center big_text_div">
            <div class="col-md-6 left_col" style="vertical-align: middle;
        width: calc(661px + (100vw - 1440px) * 0.22916666666);
        flex: 0 0 42.362637362%;">
                <div class="clinical_medical_multidisciplinary_center_caption_on_index_page">
                    Клинический медицинский
                    многопрофильный центр
                </div>
                <div class="Saint_Luke_caption">
                    Святителя Луки
                </div>

                <div class="CFU_caption_on_index_page">
                    Крымского федерального университета
                    <br>
                    им. В.И. Вернадского
                </div>
                <div class="text_on_index_page">
                    Добро пожаловать в Клинический медицинский многопрофильный центр Святителя Луки Крымского федерального университета им. В.И. Вернадского.
                    <br><br>
                    У нас работают ведущие врачи Крыма: профессора, доктора медицинских наук, доценты, кандидаты медицинских наук, врачи высшей категории.
                </div>

            </div>
            <div class="col-md-6 big_slider_div" style="padding-bottom: 65px;  flex: 0 0 57.637362637%;">
                <div style="margin-top: 1px; max-height: 700px;" align="right">

                    <div class="w3-content w3-display-container">
                        <img class="mySlides mySlides_big" style="max-height: 700px; max-width: 1049px;" src="~/images/img_slider_index_page/IMG_1606.png">
                        <img class="mySlides mySlides_big" style="max-height: 700px; max-width: 1049px;" src="~/images/img_slider_index_page/846A5701.png">
                        <img class="mySlides mySlides_big" style="max-height: 700px; max-width: 1049px;" src="~/images/img_slider_index_page/IMG_1623.png">
                        <img class="mySlides mySlides_big" style="max-height: 700px; max-width: 1049px;" src="~/images/img_slider_index_page/IMG_9424.png">

                        <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle">
                            <span class="w3-badge demo demo_big w3-border w3-transparent w3-hover-white" onclick="currentDiv_big(0)"></span>
                            <span class="w3-badge demo demo_big w3-border w3-transparent w3-hover-white" onclick="currentDiv_big(1)"></span>
                            <span class="w3-badge demo demo_big w3-border w3-transparent w3-hover-white" onclick="currentDiv_big(2)"></span>
                            <span class="w3-badge demo demo_big w3-border w3-transparent w3-hover-white" onclick="currentDiv_big(3)"></span>
                        </div>
                    </div>
                </div>
                <br>
                <a asp-area="" asp-controller="About" asp-action="Structure" class="to_learn_more_caption">
                    УЗНАТЬ БОЛЬШЕ &rarr;
                </a>
            </div>
        </div>
    </div>


    <script>
        window.prev_index_small = 0;
        window.prev_index_big = 0;

        var slideIndex_small = 0;
        var slideIndex_big = 0;

        showDivs_small(slideIndex_small);
        showDivs_big(slideIndex_big);

        function plusDivs_small(n) {
            showDivs_small(slideIndex_small += n);
        }

        function plusDivs_big(n) {
            showDivs_big(slideIndex_big += n);
        }

        function currentDiv_small(n) {
            showDivs_small(slideIndex_small = n);
        }

        function currentDiv_big(n) {
            showDivs_big(slideIndex_big = n);
        }

        function Show_Next_Slide_small(dots, x, slideIndex_small) {
            x[window.prev_index_small].style.display = 'none';
            x[slideIndex_small].style.display = "block";

            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" w3-white", "");
            }

            dots[slideIndex_small].className += " w3-white";

            window.prev_index_small = slideIndex_small;
        }

        function Show_Next_Slide_big(dots, x, slideIndex_big) {
            x[window.prev_index_big].style.display = 'none';
            x[slideIndex_small].style.display = "block";

            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" w3-white", "");
            }

            dots[slideIndex_big].className += " w3-white";

            window.prev_index_big = slideIndex_small;
        }


        function showDivs_small(n) {
            var x = document.getElementsByClassName("mySlides_small");
            var dots = document.getElementsByClassName("demo_small");
            if (n == x.length) { slideIndex_small = 0 }

            x[window.prev_index_small].className = "mySlides_small mySlides hidden_slide";
            x[slideIndex_small].className = "mySlides_small mySlides visible_slide";
            setTimeout(Show_Next_Slide_small, 500, dots, x, slideIndex_small);
        }

        function showDivs_big(n) {
            var x = document.getElementsByClassName("mySlides_big");
            var dots = document.getElementsByClassName("demo_big");
            if (n == x.length) { slideIndex_big = 0 }

            x[window.prev_index_big].className = "mySlides_big mySlides hidden_slide";
            x[slideIndex_big].className = "mySlides_big mySlides visible_slide";
            setTimeout(Show_Next_Slide_big, 500, dots, x, slideIndex_big);
        }

        function pollFunc(fn) {
            (function p() {
                fn(1);
                setTimeout(p, 10000);
            })();
        }

        window.onload = function () {
            setTimeout(pollFunc, 10000, plusDivs_small);
            setTimeout(pollFunc, 10000, plusDivs_big);
        }
    </script>

    <!--

    <script>
        function ready()
        {
            $('#myTable').dataTable();
        }
        window.onload = function ()
        {
            function Get_Type_Obj(str, i)
            {
                var obj_type = "";
                var next_index;

                for (var j = i; j < str.length-3; j++)
                {
                    if (str.charAt(j) == '&' && str.charAt(j+1) == 'g' && str.charAt(j+2) == 't' && str.charAt(j+3) == ';')
                    {
                        next_index = j+4;
                        break;
                    }
                    obj_type += str.charAt(j);
                }
                return [obj_type, next_index];
            }

            function Get_Cell_Data(str, start_index)
            {
                var res = "";
                var next_index = -1;
                for (var i = start_index; i < str.length-3; i++)
                {
                    if (str.charAt(i) == '&' && str.charAt(i+1) == 'l' && str.charAt(i+2) == 't' && str.charAt(i+3) == ';')
                    {
                        next_index = i-1;
                        break;
                    }
                    else
                    {
                        if (str.charAt(i) == '&' && str.charAt(i+1) == '#' && str.charAt(i+2) == 'x' && str.charAt(i+6) == ';')
                        {
                            var num = parseInt("0x"+ str.charAt(i+3)+str.charAt(i+4)+str.charAt(i+5)+";", 16);
                            var cur_char = String.fromCharCode(num);
                            res += cur_char;
                            i += 6;
                        }
                        else
                        {
                            if (str.charAt(i) == '&' && str.charAt(i+1) == '#' && str.charAt(i+2) == 'x' && str.charAt(i+5) == ';')
                            {
                                var num = parseInt("0x"+ str.charAt(i+3)+str.charAt(i+4)+";", 16);
                                var cur_char = String.fromCharCode(num);
                                res += cur_char;
                                i += 5;
                            }
                            else res += str.charAt(i);
                        }
                    }
                }
                return [res, next_index];
            }

            function Shift_Index(str, i)
            {
                var next_index = -1;
                while (true)
                {
                    /*
                    console.log("-----------");
                    console.log(str[i]);
                    console.log(str[i+1]);
                    console.log(str[i + 2]);
                    console.log(str[i + 3]);
                    console.log("-----------");
                    */

                    if (str[i] == '&' && str[i+1] == 'g' && str[i+2] == 't' && str[i+3] == ';')
                    {
                        next_index = i + 3;
                        break;
                    }
                    i++;
                }
                return next_index;
            }

            function parseTable(str)
            {
                var myTable = document.createElement("table");
                myTable.setAttribute("id", "myTable");

                var counter = 0;

                var arr = [];
                var cnt_arr = [];

                for (var i = 0; i < str.length-3; i++)
                {
                    console.log(str.charAt(i));
                    if (str.charAt(i) == '&' && str.charAt(i+1) == 'l' && str.charAt(i+2) == 't' && str.charAt(i+3) == ';')
                    {
                        if (str.charAt(i + 4) != '/')
                        {
                            i += 4;
                            var type_obj_and_next_index = Get_Type_Obj(str, i);
                            var type_obj = type_obj_and_next_index[0];
                            var next_index = type_obj_and_next_index[1];

                            // Create object

                            var cur_obj = document.createElement(type_obj);
                            arr.push(cur_obj);
                            // what about cnt_arr

                            counter++;
                            cnt_arr.push(counter);


                            if (str.charAt(next_index) == '&' && str.charAt(next_index+1) == 'l' && str.charAt(next_index+2) == 't' && str.charAt(next_index+3) == ';')
                            {
                                i = next_index-1;
                                continue;
                            }
                            else
                            {
                                var cell_data_and_next_index = Get_Cell_Data(str, next_index);
                                var cell_data = cell_data_and_next_index[0];
                                var next_index = cell_data_and_next_index[1];

                                arr[arr.length - 1].append(cell_data);

                                i = next_index;
                                continue;
                            }
                        }
                        else
                        {
                            counter--;
                            i = Shift_Index(str, i);
                        }
                    }
                }

                var lp = 0;
                var rp = 1;

                var tbody_index = -1;

                for (var k = 1; k < cnt_arr.length; k++)
                {
                    if (cnt_arr[k] == 1)
                    {
                        tbody_index = k;
                        break;
                    }
                }

                var tbody_switch = 0;

                while (lp < cnt_arr.length && rp < cnt_arr.length)
                {
                    if (cnt_arr[lp] + 1 == cnt_arr[rp])
                    {
                        arr[lp].appendChild(arr[rp]);
                        rp++;
                    }
                    else
                    {
                        if (cnt_arr[lp] >= cnt_arr[rp])
                        {
                            if (tbody_switch == 0) tbody_switch = 1;
                            else
                            {
                                arr[tbody_index].appendChild(arr[rp]);
                            }

                            lp = rp;
                            rp++;
                        }
                        else
                        {
                            lp++;
                        }
                        continue;
                    }
                }

                for (var i = 0; i < cnt_arr.length; i++)
                {
                    if (cnt_arr[i] == 1)
                    {
                        myTable.appendChild(arr[i]);
                    }
                }
                document.body.appendChild(myTable);

                return 0;
            };

            parseTable("@ViewData["myTable"]");

            //--------------------------------------------------

            var table_responsive = document.createElement("div");
            table_responsive.setAttribute("class", "table-responsive");

            var table = document.createElement("table");
            table.setAttribute("id", "myTable");
            table.setAttribute("class", "display table");
            table.setAttribute("width", "100%");

            table_responsive.appendChild(table);

            document.body.appendChild(table_responsive);


            $('#myTable').dataTable();
        };
    </script>



    -->
    <!--
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">User</div>
            <div class="col-4"><input type="text" id="userInput" /></div>
        </div>
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>-->
    <!-- <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script> -->
