.new_review {
    background-color: white;
}

@media (min-width: 1440px) {
    .reviews_img {
        width: calc(580px + (100vw - 1440px) * (890 - 580) / (1920 - 1440));
    }
}

@media (max-width: 768px) {
    .reviews_img {
        width: 100%;
    }
}

.to_learn_more_caption {
    font-size: 18px;
    color: #7AABA2;
    font-style: normal;
    line-height: 22px;
    font-weight: 600;
    margin-top: 4px;
    text-transform: uppercase;
    float: right;

    margin-top: 32px;
}


.to_learn_more_caption_mobile {
    font-size: 18px;
    color: #7AABA2;
    font-style: normal;
    line-height: 22px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 32px;
}

.review_page_left_part {
    flex: 0 0 43%;
}

.review_page_right_part {
    flex: 0 0 50%;
}

@media (min-width: 1503px) {
    .review_page_left_part {
        flex: 0 0 47%;
    }
    .review_page_right_part {
        flex: 0 0 53%;
    }
}

@media (min-width: 1535px) {
    .review_page_left_part {
        flex: 0 0 48%;
    }
    .review_page_right_part {
        flex: 0 0 52%;
    }
}

@media (min-width: 1696px) {
    .review_page_left_part {
        flex: 0 0 52%;
    }
    .review_page_right_part {
        flex: 0 0 48%;
    }
}

@media (min-width: 2106px) {
    .review_page_left_part {
        flex: 0 0 55%;
    }
    .review_page_right_part {
        flex: 0 0 45%;
    }
}

@media (min-width: 2285px) {
    .review_page_left_part {
        flex: 0 0 50%;
    }
    .review_page_right_part {
        flex: 0 0 50%;
    }
}


@media (max-width: 768px) {
    .margin_top_20_14 {
        margin-top: calc(20px - (100vw - 320px) * (14 - 20) / (768 - 320)); /* именно так! */
    }
}





.list_of_reviews {
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    
    /*height: 500px;*/
    font-family: LatoWeb;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #2A2A2A;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 64px;
    float: right;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .list_of_reviews {
        width: 100%;
    }
}

.button {
    float: left;
    margin-top: -30px;
    width: 250px;
    height: 60px;
    font-family: LatoWeb;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    border: none;
    z-index: 3;
}

.green_button {
    background: #7AABA2;
    color: #FFFFFF;
    margin-right: calc(250px + 241px + 30px);
    float: right;
}

.white_button {
    background: white;
    color: black;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    margin-right: 241px;
    float: right;
    margin-top: -60px;
}

.date {
    font-family: LatoWeb;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #9E9E9C;
    background: #FFFFFF;
}


/* --------------------------------------- */

@media (min-width: 671px) and (max-width: 768px) {
    .green_button {
        margin-right: 50px;
    }
}

@media (max-width: 670px) {
    .green_button {
        width: 250px;
        margin-right: calc(50vw - 125px - 20px);
    }
}

@media (max-width: 768px) {
    .white_button {
        width: 249px;
        background: white;
        color: black;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
        margin-right: 50px;
        margin-top: -30px;
    }
}

@media (min-width: 671px) and (max-width: 678px) {
    .white_button {
        margin-right: 50px;
    }
}

@media (max-width: 670px) {
    .white_button {
        display: block;
        width: 250px;
        margin-top: 20px;
        margin-right: calc(50vw - 125px - 20px);
    }
}



.green_slider_navigation {
    font-family: LatoWeb;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;

    color: #587D5F;

    margin-left: 10px;
    margin-right: 10px;
}

.footer {
    margin-top: 0px;
}
