@{
    ViewData["Title"] = "Отзывы";
}

<link rel="stylesheet" href="~/css/Text_Page/Text_Page.css" />
<link rel="stylesheet" href="~/css/Reviews/Reviews.css" />
<link rel="stylesheet" href="../css/slider/slider.css" />

<link rel="stylesheet" href="../css/mobile_top_content/mobile_top_content.css" />

<style>
    /* Hide scrollbar for Chrome, Safari and Opera */
    .content::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE and Edge */
    .content {
        -ms-overflow-style: none;
    }
</style>

<div id="submenu" class="submenu">
    <a asp-area="" asp-controller="Home" asp-action="Index">
        <img src="~/images/logo/submenu/home.svg" />
    </a>
    <img src="~/images/logo/submenu/cdot.svg" class="cdot_in_submenu" />

    <div class="sub_item sub">
        Отзывы
    </div>
</div>


<div class="main_page_template_table" id="main_page_template_table">
    <!-- Мобильная версия -->

    <div class="row justify-content-md-center small_text_div_text_page">
        <div class="col-md-6" style="flex: 0 0 100%;">

            <div id="mobile_top_content">
                <img src="~/images/Content/Reviews/1.png" class="reviews_img" />
                <div style="margin-top: calc(45px + (100vw - 320px) * (62 - 45) / (768 - 320)); text-align: center;">
                    <a href="" class="to_learn_more_caption" style="margin-top: 0px; margin-left: 0px; float: none; font-size: 14px;">
                        Перейти на наш youtube канал &rarr;
                    </a>
                </div>
            </div>

            <div id="content_mobile" class="content_mobile">
            </div>

            <div id="list_of_reviews_mobile">

                <script>
                    $(function () {
                        $("#review_1_mobile").load("/html_content/list_of_reviews/review_1.html");
                    });
                    $(function () {
                        $("#review_2_mobile").load("/html_content/list_of_reviews/review_2.html");
                    });
                    $(function () {
                        $("#review_3_mobile").load("/html_content/list_of_reviews/review_3.html");
                    });
                    $(function () {
                        $("#review_4_mobile").load("/html_content/list_of_reviews/review_4.html");
                    });
                    $(function () {
                        $("#review_5_mobile").load("/html_content/list_of_reviews/review_5.html");
                    });
                    $(function () {
                        $("#review_6_mobile").load("/html_content/list_of_reviews/review_6.html");
                    });
                </script>


                <div class="w3-content w3-display-container" style="width: auto; z-index: -1;">

                    <div id="review_1_mobile" class="mySlides mySlides_small" style="max-height: 700px; max-width: 1049px;">
                    </div>
                    <div id="review_2_mobile" class="mySlides mySlides_small" style="max-height: 700px; max-width: 1049px;">
                    </div>
                    <div id="review_3_mobile" class="mySlides mySlides_small" style="max-height: 700px; max-width: 1049px;">
                    </div>
                    <div id="review_4_mobile" class="mySlides mySlides_small" style="max-height: 700px; max-width: 1049px;">
                    </div>
                    <div id="review_5_mobile" class="mySlides mySlides_small" style="max-height: 700px; max-width: 1049px;">
                    </div>
                    <div id="review_6_mobile" class="mySlides mySlides_small" style="max-height: 700px; max-width: 1049px;">
                    </div>

                </div>

                <button class="green_button button">
                    Оставить отзыв
                </button>

                <button class="white_button button">
                    Следующий отзыв
                </button>


            </div>

        </div>
    </div>

    <!-- Десктопная версия -->

    <div class="row justify-content-md-center big_text_div_text_page">
        <div class="col-md-6 text_page_desktop_left_part review_page_left_part">

            <div id="content" class="content">
                <div class="content_title" style="margin-bottom: 54px;">
                    Отзывы пациентов
                </div>

                <div id="content" class="content" style="height: auto; overflow: hidden;">
                    <div>
                        <img src="~/images/Content/Reviews/1.png" class="reviews_img" style="max-width: 1049px;" />
                    </div>

                    <div>
                        <a href="" class="to_learn_more_caption">
                            Перейти на наш youtube канал &rarr;
                        </a>
                    </div>

                </div>

            </div>

        </div>
        <div class="col-md-6 big_slider_div_text_page text_page_desktop_right_part review_page_right_part" sstyle="padding-bottom: 65px;">

            <div id="list_of_reviews">

                <div align="right">
                    <button style="background: transparent; border: 0px;" onclick="Shift_Left_Slider()"> <img src="../images/logo/Doctors/left_arrow.svg" style="display: inline-block; margin-right: 20px; margin-top: -12px;" /> </button>
                    <div id="index_navigation_doctors" class="navigation_indexes" style="display: inline-block;">
                        5 / 8
                    </div>
                    <button style="background: transparent; border: 0px;" onclick="Shift_Right_Slider()"> <img src="../images/logo/Doctors/right_arrow.svg" style="display: inline-block; margin-left: 20px;" /> </button>
                </div>

                <script>
                    $(function () {
                        $("#review_1").load("/html_content/list_of_reviews/review_1.html");
                    });
                    $(function () {
                        $("#review_2").load("/html_content/list_of_reviews/review_2.html");
                    });
                    $(function () {
                        $("#review_3").load("/html_content/list_of_reviews/review_3.html");
                    });
                    $(function () {
                        $("#review_4").load("/html_content/list_of_reviews/review_4.html");
                    });
                    $(function () {
                        $("#review_5").load("/html_content/list_of_reviews/review_5.html");
                    });
                    $(function () {
                        $("#review_6").load("/html_content/list_of_reviews/review_6.html");
                    });
                </script>

                <div class="w3-content w3-display-container" style="width: auto;">

                    <div id="review_1" class="mySlides mySlides_big" style="max-height: 700px; max-width: 1049px;">
                    </div>
                    <div id="review_2" class="mySlides mySlides_big" style="max-height: 700px; max-width: 1049px;">
                    </div>
                    <div id="review_3" class="mySlides mySlides_big" style="max-height: 700px; max-width: 1049px;">
                    </div>
                    <div id="review_4" class="mySlides mySlides_big" style="max-height: 700px; max-width: 1049px;">
                    </div>
                    <div id="review_5" class="mySlides mySlides_big" style="max-height: 700px; max-width: 1049px;">
                    </div>
                    <div id="review_6" class="mySlides mySlides_big" style="max-height: 700px; max-width: 1049px;">
                    </div>

                </div>

                <button class="white_button button" style="background-color: #7AABA2;">
                    Оставить отзыв
                </button>

                <button class="green_button button" style="background-color: white;">
                    Следующий отзыв
                </button>

            </div>

        </div>
    </div>
</div>



<script>
    window.prev_index_small = 0;
    window.prev_index_big = 0;

    var slideIndex_small = 0;
    var slideIndex_big = 0;

    showDivs_small(slideIndex_small);
    showDivs_big(slideIndex_big);

    function plusDivs_small(n) {
        showDivs_small(slideIndex_small += n);
    }

    function plusDivs_big(n) {
        showDivs_big(slideIndex_big += n);
    }

    function currentDiv_small(n) {
        showDivs_small(slideIndex_small = n);
    }

    function currentDiv_big(n) {
        showDivs_big(slideIndex_big = n);
    }

    function Show_Next_Slide_small(x, slideIndex_small) {
        x[window.prev_index_small].style.display = 'none';
        x[slideIndex_small].style.display = "block";

        window.prev_index_small = slideIndex_small;
    }

    function Show_Next_Slide_big(x, slideIndex_big) {
        x[window.prev_index_big].style.display = 'none';
        x[slideIndex_big].style.display = "block";

        window.prev_index_big = slideIndex_big;
    }

    function showDivs_small(n) {
        var x = document.getElementsByClassName("mySlides_small");
        if (n == x.length) { slideIndex_small = 0 }

        x[window.prev_index_small].className = "mySlides_small mySlides hidden_slide";
        x[slideIndex_small].className = "mySlides_small mySlides visible_slide";
        setTimeout(Show_Next_Slide_small, 500, x, slideIndex_small);
    }

    function showDivs_big(n) {
        var x = document.getElementsByClassName("mySlides_big");
        if (n == x.length) { slideIndex_big = 0 }

        x[window.prev_index_big].className = "mySlides_big mySlides hidden_slide";
        x[slideIndex_big].className = "mySlides_big mySlides visible_slide";
        setTimeout(Show_Next_Slide_big, 500, x, slideIndex_big);
    }

    function pollFunc(fn) {
        (function p() {
            fn(1);
            setTimeout(p, 10000);
        })();
    }

    window.onload = function () {
        setTimeout(pollFunc, 10000, plusDivs_small);
        setTimeout(pollFunc, 10000, plusDivs_big);
    }
</script>