@{
    ViewData["Title"] = "Отзывы";
}

<link rel="stylesheet" href="~/css/Text_Page/Text_Page.css" />
<link rel="stylesheet" href="~/css/Reviews/Reviews.css" />
<link rel="stylesheet" href="../css/slider/slider.css" />

<link rel="stylesheet" href="../css/mobile_top_content/mobile_top_content.css" />

<style>
    /* Hide scrollbar for Chrome, Safari and Opera */
    .content::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE and Edge */
    .content {
        -ms-overflow-style: none;
    }
</style>

<div id="submenu" class="submenu">
    <a asp-area="" asp-controller="Home" asp-action="Index">
        <img src="~/images/logo/submenu/home.svg" />
    </a>
    <img src="~/images/logo/submenu/cdot.svg" class="cdot_in_submenu" />

    <div class="sub_item sub">
        Отзывы
    </div>
</div>


<div class="main_page_template_table" id="main_page_template_table">
    <!-- Мобильная версия -->

    <div class="row justify-content-md-center small_text_div_text_page">
        <div class="col-md-6" style="flex: 0 0 100%;">

            <div id="content_mobile" class="content_mobile">
                <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                <div class="elfsight-app-1161ea89-6dbc-4dd9-b6b6-19c77d09da42"></div>

                <div style="margin-top: 20px; text-align: center;">
                    <a href="https://www.youtube.com/channel/UC7TV11zzSShPGlERh0NWsrA" class="to_learn_more_caption" style="margin-top: 0px; margin-left: 0px; float: none; font-size: 14px;">
                        Перейти на наш youtube канал &rarr;
                    </a>
                </div>
            </div>

            <div id="list_of_reviews_mobile">

                <script>
                    $(function () {
                        $("#review_1_mobile").load("/html_content/list_of_reviews/review_1.html");
                    });
                    $(function () {
                        $("#review_2_mobile").load("/html_content/list_of_reviews/review_2.html");
                    });
                    $(function () {
                        $("#review_3_mobile").load("/html_content/list_of_reviews/review_3.html");
                    });
                    $(function () {
                        $("#review_4_mobile").load("/html_content/list_of_reviews/review_4.html");
                    });
                    $(function () {
                        $("#review_5_mobile").load("/html_content/list_of_reviews/review_5.html");
                    });
                    $(function () {
                        $("#review_6_mobile").load("/html_content/list_of_reviews/review_6.html");
                    });
                </script>

                <div style="display: block;">

                    <div class="w3-content w3-display-container" style="width: auto; z-index: -1;">

                        <div id="review_1_mobile" class="mySlides mySlides_small" style="max-height: 700px; max-width: 1049px;">
                        </div>
                        <div id="review_2_mobile" class="mySlides mySlides_small" style="max-height: 700px; max-width: 1049px;">
                        </div>
                        <div id="review_3_mobile" class="mySlides mySlides_small" style="max-height: 700px; max-width: 1049px;">
                        </div>
                        <div id="review_4_mobile" class="mySlides mySlides_small" style="max-height: 700px; max-width: 1049px;">
                        </div>
                        <div id="review_5_mobile" class="mySlides mySlides_small" style="max-height: 700px; max-width: 1049px;">
                        </div>
                        <div id="review_6_mobile" class="mySlides mySlides_small" style="max-height: 700px; max-width: 1049px;">
                        </div>

                    </div>

                    <button class="green_button button" id="open_modal_for_making_a_review_button_mobile">
                        Оставить отзыв
                    </button>

                    <button class="white_button button" onclick="increment_review_small();">
                        Следующий отзыв
                    </button>

                </div>

                <div style="display: inline-block; margin-top: 30px; margin-left: calc(50vw - 28px - 20px); margin-bottom: 20px;">

                    <div id="green_reviews_navigation" class="green_slider_navigation" style="display: inline-block">
                        1 / 6
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- Десктопная версия -->

    <div class="row justify-content-md-center big_text_div_text_page">
        <div class="col-md-6 text_page_desktop_left_part review_page_left_part">

            <div id="content" class="content">
                <div class="content_title" style="margin-bottom: 54px;">
                    Отзывы пациентов
                </div>

                <div id="content" class="content" style="height: auto; overflow: hidden;">

                    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                    <div class="elfsight-app-1161ea89-6dbc-4dd9-b6b6-19c77d09da42" style="float: right;"></div>

                    <div>
                        <a href="https://www.youtube.com/channel/UC7TV11zzSShPGlERh0NWsrA" class="to_learn_more_caption">
                            Перейти на наш youtube канал &rarr;
                        </a>
                    </div>

                </div>

            </div>

        </div>
        <div class="col-md-6 big_slider_div_text_page text_page_desktop_right_part review_page_right_part" sstyle="padding-bottom: 65px;">

            <div id="list_of_reviews">

                <div align="right">
                    <div id="white_reviews_navigation" class="navigation_indexes" style="display: inline-block">
                        1 / 6
                    </div>
                </div>

                <script>
                    $(function () {
                        $("#review_1").load("/html_content/list_of_reviews/review_1.html");
                    });
                    $(function () {
                        $("#review_2").load("/html_content/list_of_reviews/review_2.html");
                    });
                    $(function () {
                        $("#review_3").load("/html_content/list_of_reviews/review_3.html");
                    });
                    $(function () {
                        $("#review_4").load("/html_content/list_of_reviews/review_4.html");
                    });
                    $(function () {
                        $("#review_5").load("/html_content/list_of_reviews/review_5.html");
                    });
                    $(function () {
                        $("#review_6").load("/html_content/list_of_reviews/review_6.html");
                    });
                </script>

                <div class="w3-content w3-display-container" style="width: auto;">

                    <div id="review_1" class="mySlides mySlides_big" style="max-height: 700px; max-width: 1049px; width: auto;">
                    </div>
                    <div id="review_2" class="mySlides mySlides_big" style="max-height: 700px; max-width: 1049px; width: auto;">
                    </div>
                    <div id="review_3" class="mySlides mySlides_big" style="max-height: 700px; max-width: 1049px; width: auto;">
                    </div>
                    <div id="review_4" class="mySlides mySlides_big" style="max-height: 700px; max-width: 1049px; width: auto;">
                    </div>
                    <div id="review_5" class="mySlides mySlides_big" style="max-height: 700px; max-width: 1049px; width: auto;">
                    </div>
                    <div id="review_6" class="mySlides mySlides_big" style="max-height: 700px; max-width: 1049px; width: auto;">
                    </div>

                </div>

                <div>
                    <button class="white_button button" style="background-color: #7AABA2;" id="open_modal_for_making_a_review_button">
                        Оставить отзыв
                    </button>

                    <button class="green_button button" style="background-color: white;" onclick="increment_review_big();">
                        Следующий отзыв
                    </button>
                </div>
                

            </div>

        </div>
    </div>
</div>

<!-- The Modal -->
<div id="making_a_review_Modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div id="modal_for_making_a_review_close_btn" class="close_btn" style="color: black;">&times;</div>
        <p class="h1_modal">ЗАПИСАТЬСЯ НА ПРИЕМ</p>
        <p class="h2_modal">ЗАПОЛНИТЕ ЗАЯВКУ И МЫ СВЯЖЕМСЯ С ВАМИ</p>
        <input type="text" placeholder="Город вашего проживания*" required class="input_modal" />
        <input type="text" placeholder="Ваш возраст*" required class="input_modal" style="margin-top: 25px;" />

        <textarea id="making_a_review_Modal_text" rows="4" style="width: 100%; margin-top: 25px; border: 2px solid #9E9E9C;" class="input_modal"> 
        </textarea>

        <br>
        <input type="button" id="send_review_form" value="ОТПРАВИТЬ" class="making_an_appointment_button_accept" />
    </div>
</div>


<script>
    // Get the modal
    var making_a_review_Modal = document.getElementById("making_a_review_Modal");

    // Get the button that opens the modal
    var open_modal_for_making_a_review_button = document.getElementById("open_modal_for_making_a_review_button");
    var open_modal_for_making_a_review_button_mobile = document.getElementById("open_modal_for_making_a_review_button_mobile");

    // Get the <span> element that closes the modal
    var modal_for_making_a_review_close_btn = document.getElementById("modal_for_making_a_review_close_btn");

    // When the user clicks the button, open the modal
    open_modal_for_making_a_review_button.onclick = function () {
        making_a_review_Modal.style.display = "block";
    }

    open_modal_for_making_a_review_button_mobile.onclick = function () {
        making_a_review_Modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    modal_for_making_a_review_close_btn.onclick = function () {
        making_a_review_Modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == making_a_review_Modal) {
            making_a_review_Modal.style.display = "none";
        }
    }
</script>




<script>
    window.prev_index_small = 0;
    window.prev_index_big = 0;

    window.slideIndex_small = 0;
    window.slideIndex_big = 0;

    showDivs_small(window.slideIndex_small);
    showDivs_big(window.slideIndex_big);

    function plusDivs_small(n) {
        showDivs_small(window.slideIndex_small += n);
    }

    function plusDivs_big(n) {
        showDivs_big(window.slideIndex_big += n);
    }

    function currentDiv_small(n) {
        showDivs_small(window.slideIndex_small = n);
    }

    function currentDiv_big(n) {
        showDivs_big(window.slideIndex_big = n);
    }

    function Show_Next_Slide_small(x, slideIndex_small) {
        x[window.prev_index_small].style.display = 'none';
        x[slideIndex_small].style.display = "block";

        window.prev_index_small = slideIndex_small;
    }

    function Show_Next_Slide_big(x, slideIndex_big) {
        x[window.prev_index_big].style.display = 'none';
        x[slideIndex_big].style.display = "block";

        window.prev_index_big = slideIndex_big;
    }

    function showDivs_small(n) {
        var x = document.getElementsByClassName("mySlides_small");
        if (n == x.length) { window.slideIndex_small = 0 }

        x[window.prev_index_small].className = "mySlides_small mySlides hidden_slide";
        x[window.slideIndex_small].className = "mySlides_small mySlides visible_slide";
        setTimeout(Show_Next_Slide_small, 500, x, window.slideIndex_small);
    }

    function showDivs_big(n) {
        var x = document.getElementsByClassName("mySlides_big");
        if (n == x.length) { window.slideIndex_big = 0 }

        x[window.prev_index_big].className = "mySlides_big mySlides hidden_slide";
        x[window.slideIndex_big].className = "mySlides_big mySlides visible_slide";
        setTimeout(Show_Next_Slide_big, 500, x, window.slideIndex_big);
    }

</script>

<script>
    function get_count_of_reviews() {
        window.count_of_reviews = (document.getElementsByClassName("mySlides_small")).length;
    }

    function print_count_of_reviews_in_navigation() {
        var nav = document.getElementById("green_reviews_navigation");
        nav.innerHTML = "1" + " / " + window.count_of_reviews;

        nav = document.getElementById("white_reviews_navigation");
        nav.innerHTML = "1" + " / " + window.count_of_reviews;
    }

    window.onload = function () {
        get_count_of_reviews();
        print_count_of_reviews_in_navigation();
    };

    function show_index_small() {
        var nav = document.getElementById("green_reviews_navigation");
        nav.innerHTML = (window.slideIndex_small + 1) + " / " + window.count_of_reviews;
    }

    function show_index_big() {
        var nav = document.getElementById("white_reviews_navigation");
        nav.innerHTML = (window.slideIndex_big + 1) + " / " + window.count_of_reviews;
    }

    function increment_review_small() {
        plusDivs_small(1);
        show_index_small();
    }

    function increment_review_big() {
        plusDivs_big(1);
        show_index_big();
    }
</script>