/*фари */
.parent::-webkit-scrollbar {
    width: 0;
}

/* ie 10+ */
.parent {
    -ms-overflow-style: none;
}

/* фф (свойство больше не работает, других способов тоже нет)*/
.parent {
    overflow: -moz-scrollbars-none;
}

.parent {
    overflow: auto;
    overflow-x: scroll;
    background: transparent;
    white-space: nowrap;
}

.child {
    display: inline-block;
    vertical-align: top;
    background: transparent;
}

.navigation_on_doctors_page {
    display: inline-block;
}

.navigation_indexes {
    font-family: LatoWeb;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
}

@media (min-width: 1440px) {
    .not_first {
        margin-left: calc(19px + (100vw - 1440px) * 6 / 480);
    }
}