@{
    ViewData["Title"] = "Новости";
}

<div class="main_page_template_table" id="main_page_template_table">
        <div class="row justify-content-md-center small_slider_div">
            <div class="col-md-6" style="padding-bottom: 65px; flex: 0 0 100%;">
                <div style="margin-top: 1px; max-height: 700px;" align="center">

                    <div class="w3-content w3-display-container">
                        <img class="mySlides mySlides_small" src="~/images/img_slider_index_page/IMG_1606.png" style="width: calc(100vw - 40px);">
                        <img class="mySlides mySlides_small" src="~/images/img_slider_index_page/846A5701.png" style="width: calc(100vw - 40px);">
                        <img class="mySlides mySlides_small" src="~/images/img_slider_index_page/IMG_1623.png" style="width: calc(100vw - 40px);">
                        <img class="mySlides mySlides_small" src="~/images/img_slider_index_page/IMG_9424.png" style="width: calc(100vw - 40px);">

                        <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle">
                            <span class="w3-badge demo demo_small w3-border w3-transparent w3-hover-white" onclick="currentDiv_small(0)"></span>
                            <span class="w3-badge demo demo_small w3-border w3-transparent w3-hover-white" onclick="currentDiv_small(1)"></span>
                            <span class="w3-badge demo demo_small w3-border w3-transparent w3-hover-white" onclick="currentDiv_small(2)"></span>
                            <span class="w3-badge demo demo_small w3-border w3-transparent w3-hover-white" onclick="currentDiv_small(3)"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-md-center small_main_text">
            <div class="col-md-6" style="flex: 0 0 100%;">
                <div class="clinical_medical_multidisciplinary_center_caption_on_index_page_mobile">
                    Клинический медицинский
                    многопрофильный центр
                </div>
                <div class="Saint_Luke_caption_mobile">
                    Святителя Луки
                </div>
                <div class="CFU_caption_on_index_page_mobile">
                    Крымского федерального университета
                    <br>
                    им. В.И. Вернадского
                </div>
                <br>
                <div class="text_on_index_page_mobile">
                    Равным образом реализация намеченных плановых заданий способствует
                    подготовки и реализации модели развития. С другой стороны начало
                    повседневной работы по формированию позиции представляет собой
                    интересный эксперимент проверки направлений прогрессивного развития.
                </div>

                <div align="center" style="margin-top: 20px;
        margin-bottom: 25px;">
                    <a href="" class="to_learn_more_caption_mobile">
                        УЗНАТЬ БОЛЬШЕ &rarr;
                    </a>
                </div>
            </div>
        </div>

        <div class="row justify-content-md-center big_text_div">
            <div class="col-md-6" style="vertical-align: middle;
        width: calc(661px + (100vw - 1440px) * 0.22916666666);
        flex: 0 0 42.362637362%;
        max-width: 771px;">
                <div class="clinical_medical_multidisciplinary_center_caption_on_index_page">
                    Клинический медицинский
                    многопрофильный центр
                </div>
                <div class="Saint_Luke_caption">
                    Святителя Луки
                </div>

                <div class="CFU_caption_on_index_page">
                    Крымского федерального университета
                    <br>
                    им. В.И. Вернадского
                </div>
                <div class="text_on_index_page">
                    Равным образом реализация намеченных плановых заданий способствует
                    подготовки и реализации модели развития. С другой стороны начало
                    повседневной работы по формированию позиции представляет собой
                    интересный эксперимент проверки направлений прогрессивного развития.
                </div>

            </div>
            <div class="col-md-6 big_slider_div" style="padding-bottom: 65px;  flex: 0 0 57.637362637%;">
                <div style="margin-top: 1px; max-height: 700px;" align="right">

                    <div class="w3-content w3-display-container">
                        <img class="mySlides mySlides_big" style="max-height: 700px; max-width: 1049px;" src="~/images/img_slider_index_page/IMG_1606.png">
                        <img class="mySlides mySlides_big" style="max-height: 700px; max-width: 1049px;" src="~/images/img_slider_index_page/846A5701.png">
                        <img class="mySlides mySlides_big" style="max-height: 700px; max-width: 1049px;" src="~/images/img_slider_index_page/IMG_1623.png">
                        <img class="mySlides mySlides_big" style="max-height: 700px; max-width: 1049px;" src="~/images/img_slider_index_page/IMG_9424.png">

                        <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle">
                            <!--<div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
                            <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>-->

                            <span class="w3-badge demo demo_big w3-border w3-transparent w3-hover-white" onclick="currentDiv_big(0)"></span>
                            <span class="w3-badge demo demo_big w3-border w3-transparent w3-hover-white" onclick="currentDiv_big(1)"></span>
                            <span class="w3-badge demo demo_big w3-border w3-transparent w3-hover-white" onclick="currentDiv_big(2)"></span>
                            <span class="w3-badge demo demo_big w3-border w3-transparent w3-hover-white" onclick="currentDiv_big(3)"></span>
                        </div>
                    </div>
                </div>
                <br>
                <a href="" class="to_learn_more_caption">
                    УЗНАТЬ БОЛЬШЕ &rarr;
                </a>
            </div>
        </div>
    </div>

    <script>
        $('#version_for_visually_impaired').click(function () {
            alert("В разработке...")
        });

        $('#send_making_an_appointment_form').click(function () {
            alert("В разработке...")
        })
    </script>


    <script>
        window.prev_index_small = 0;
        window.prev_index_big = 0;

        var slideIndex_small = 0;
        var slideIndex_big = 0;

        showDivs_small(slideIndex_small);
        showDivs_big(slideIndex_big);

        function plusDivs_small(n) {
            showDivs_small(slideIndex_small += n);
        }

        function plusDivs_big(n) {
            showDivs_big(slideIndex_big += n);
        }

        function currentDiv_small(n) {
            showDivs_small(slideIndex_small = n);
        }

        function currentDiv_big(n) {
            showDivs_big(slideIndex_big = n);
        }

        function Show_Next_Slide_small(dots, x, slideIndex_small) {
            x[window.prev_index_small].style.display = 'none';
            x[slideIndex_small].style.display = "block";

            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" w3-white", "");
            }

            dots[slideIndex_small].className += " w3-white";

            window.prev_index_small = slideIndex_small;
        }

        function Show_Next_Slide_big(dots, x, slideIndex_big) {
            x[window.prev_index_big].style.display = 'none';
            x[slideIndex_small].style.display = "block";

            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" w3-white", "");
            }

            dots[slideIndex_big].className += " w3-white";

            window.prev_index_big = slideIndex_small;
        }


        function showDivs_small(n) {
            var x = document.getElementsByClassName("mySlides_small");
            var dots = document.getElementsByClassName("demo_small");
            if (n == x.length) { slideIndex_small = 0 }

            x[window.prev_index_small].className = "mySlides_small mySlides hidden_slide";
            x[slideIndex_small].className = "mySlides_small mySlides visible_slide";
            setTimeout(Show_Next_Slide_small, 500, dots, x, slideIndex_small);
        }

        function showDivs_big(n) {
            var x = document.getElementsByClassName("mySlides_big");
            var dots = document.getElementsByClassName("demo_big");
            if (n == x.length) { slideIndex_big = 0 }

            x[window.prev_index_big].className = "mySlides_big mySlides hidden_slide";
            x[slideIndex_big].className = "mySlides_big mySlides visible_slide";
            setTimeout(Show_Next_Slide_big, 500, dots, x, slideIndex_big);
        }

        function pollFunc(fn) {
            (function p() {
                fn(1);
                setTimeout(p, 10000);
            })();
        }

        //pollFunc(plusDivs);

        window.onload = function () {
            setTimeout(pollFunc, 10000, plusDivs_small);
            setTimeout(pollFunc, 10000, plusDivs_big);
        }
    </script>