@{
    ViewData["Title"] = "О клинике";
}

<link rel="stylesheet" href="~/css/person/person.css" />

<div id="submenu" class="submenu">
    <a asp-area="" asp-controller="Home" asp-action="Index">
        <img src="~/images/logo/submenu/home.svg" />
    </a>
    <img src="~/images/logo/submenu/cdot.svg" class="cdot_in_submenu" />

    <div class="sub_item">
        О клинике
    </div>

    <img src="~/images/logo/submenu/cdot.svg" class="cdot_in_submenu" />

    <div class="sub_item sub">
        Ректор
    </div>
</div>


<div class="main_page_template_table" id="main_page_template_table">

    <!-- Мобильная версия -->

    <div class="row justify-content-md-center small_main_text">
        <div class="col-md-6" style="flex: 0 0 100%;">

            <div class="full_name_mobile">
                Фалалеев Андрей Павлович
            </div>

            <div class="senior_management_position_mobile">
                и.о.ректора Крымского федерального университета им. В.И. Вернадского
            </div>

        </div>
    </div>

    <div class="row justify-content-md-center small_slider_div">
        <div class="col-md-6" style="padding-bottom: 15px; flex: 0 0 100%;">
            <div style="margin-top: 1px; max-height: 700px;" align="center">

                <img class="senior_management_img_mobile" src="~/images/Content/About/Rector/Rector_Wide.png" />

            </div>
        </div>
    </div>

    <div class="row justify-content-md-center small_main_text">
        <div class="col-md-6" style="flex: 0 0 100%;">

            <div class="text_on_senior_management_position_page_mobile">
                <p style="margin-bottom: 5px;">
                    <b> Дорогие крымчане и гости полуострова! </b>
                </p>

                <div class="text">

                    <p style="margin-bottom: 5px;">
                        Уважаемые коллеги и студенты Крымского федерального университета им. В.И. Вернадского!
                    </p>

                    <p style="margin-bottom: 5px;">
                        Клинический медицинский многопрофильный центр Святителя Луки с 2014 года входит в структуру Крымского федерального университета им. В.И. Вернадского.
                    </p>

                    <p style="margin-bottom: 5px;">
                        Мы стремимся вывести нашу клинику на такой уровень, чтобы она не просто соответствовала стандартам Российской Федерации, но и стала драйвером развития здравоохранения нашего региона.
                    </p>

                    <p style="margin-bottom: 5px;">
                        Если мы что-то делаем, то делаем на лучшем уровне, заглядывая за горизонт технологических событий в стране и мире.
                    </p>

                    <p style="margin-bottom: 5px;">
                        Наша клиника оснащена инновационным диагностическим и операционным оборудование. Здесь практикуют ведущие врачи Крыма – профессора, доктора медицинских наук, врачи высшей категории.
                    </p>

                    <p style="margin-bottom: 5px;">
                        Операции выполняются на качественно новом уровне в эксклюзивной для Крыма «умной операционной».
                    </p>

                    <p style="margin-bottom: 5px;">
                        Это уже совсем другая клиника – клиника нового поколения!
                    </p>

                    <p style="margin-bottom: 5px;">
                        Искренне желаю всем крепкого здоровья!
                    </p>
                    <br>
                    <p style="margin-bottom: 5px;">
                        С уважением,
                    </p>

                    <p style="margin-bottom: 5px;">
                        и.о.ректора Крымского федерального университета им. В.И. Вернадского
                    </p>

                    <p style="margin-bottom: 5px;">
                        Фалалеев Андрей Павлович
                    </p>
                </div>
            </div>


        </div>
    </div>

    <!-- Десктопная версия -->

    <div class="row justify-content-md-center big_text_div">
        <div class="col-md-6" style="vertical-align: middle;
width: calc(729px + (100vw - 1440px) * 224 / 480);
flex: 0 0 52.362637362%;">
            <div class="full_name">
                Фалалеев Андрей Павлович
            </div>

            <div class="senior_management_position">
                и.о.ректора Крымского федерального университета им. В.И. Вернадского
            </div>

            <div class="text_on_senior_management_position_page">
                <p style="margin-bottom: 5px;">
                    <b> Дорогие крымчане и гости полуострова! </b>
                </p>

                <div class="text">

                    <p style="margin-bottom: 5px;">
                        Уважаемые коллеги и студенты Крымского федерального университета им. В.И. Вернадского!
                    </p>

                    <p style="margin-bottom: 5px;">
                        Клинический медицинский многопрофильный центр Святителя Луки с 2014 года входит в структуру Крымского федерального университета им. В.И. Вернадского.
                    </p>

                    <p style="margin-bottom: 5px;">
                        Мы стремимся вывести нашу клинику на такой уровень, чтобы она не просто соответствовала стандартам Российской Федерации, но и стала драйвером развития здравоохранения нашего региона.
                    </p>

                    <p style="margin-bottom: 5px;">
                        Если мы что-то делаем, то делаем на лучшем уровне, заглядывая за горизонт технологических событий в стране и мире.
                    </p>

                    <p style="margin-bottom: 5px;">
                        Наша клиника оснащена инновационным диагностическим и операционным оборудование. Здесь практикуют ведущие врачи Крыма – профессора, доктора медицинских наук, врачи высшей категории.
                    </p>

                    <p style="margin-bottom: 5px;">
                        Операции выполняются на качественно новом уровне в эксклюзивной для Крыма «умной операционной».
                    </p>

                    <p style="margin-bottom: 5px;">
                        Это уже совсем другая клиника – клиника нового поколения!
                    </p>

                    <p style="margin-bottom: 5px;">
                        Искренне желаю всем крепкого здоровья!
                    </p>
                    <br>
                    <p style="margin-bottom: 5px;">
                        С уважением,
                    </p>

                    <p style="margin-bottom: 5px;">
                        и.о.ректора Крымского федерального университета им. В.И. Вернадского
                    </p>

                    <p style="margin-bottom: 5px;">
                        Фалалеев Андрей Павлович
                    </p>

                </div>

            </div>

            </div>
        <div class="col-md-6 big_slider_div" style="padding-bottom: 65px;  flex: 0 0 47.637362638%;">
            <div style="margin-top: 1px; max-height: 700px;" align="center">

                <img class="senior_management_img" src="~/images/Content/About/Rector/Rector.png" />

            </div>
            
        </div>
    </div>
</div>