@{
    ViewData["Title"] = "Лечение";
}

<link rel="stylesheet" href="~/css/Docs/docs.css" />
<link rel="stylesheet" href="~/css/Text_Page/Text_Page.css" />
<link rel="stylesheet" href="~/css/green_ul_li/green_ul_li.css" />
<link rel="stylesheet" href="~/css/List_of_categories/List_of_categories.css" />

<div id="submenu" class="submenu">
    <a asp-area="" asp-controller="Home" asp-action="Index">
        <img src="~/images/logo/submenu/home.svg" />
    </a>
    <img src="~/images/logo/submenu/cdot.svg" class="cdot_in_submenu" />

    <div class="sub_item">
        Лечение
    </div>
</div>

<style>
    .subtitle {
        margin-left: 25px; 
        font-size: 18px;
    }

    @@media (min-width: 1440px) {
        .subtitle {
            margin-bottom: calc(20px + (100vw - 1440px) * (30 - 20) / (1920 - 1440));
        }
    }


    @@media (min-width: 1441px) {
        .subtitle {
            font-size: calc(18px + (100vw - 1921px) * (20 - 18) / (1920 - 1441));
        }
    }

    @@media (min-width: 1921px) {
        .subtitle {
            font-size: calc(20px + (100vw - 1921px) * (30 - 20) / (2560 - 1921));
        }
    }

    
    @@media (max-width: 1439px) {
        .subtitle {
            padding-left: calc(20px + (100vw - 1440px) * (25 - 20) / (1439 - 769));
            margin-bottom: 20px;
        }
    }


    @@media (max-width: 768px) {
        .subtitle {
            margin-bottom: 10px;
        }
    }
</style>

<div class="main_page_template_table" id="main_page_template_table">

    <!-- Мобильная версия -->

    <div class="row justify-content-md-center small_text_div_text_page">
        <div class="col-md-6" style="flex: 0 0 100%;">

            <div id="img_mobile" style="margin-bottom: 30px;">
                <img src="~/images/Content/About/Structure/Structure.jpg" style="width: 100%;" />
            </div>

            <div id="content_mobile" class="content_mobile">

                <p class="content_title">
                    Структура Центра
                </p>

                <div class="list_of_sections_box_mobile">

                    <ul class="list_of_sections">
                        <li class="green_mark">
                            <a asp-area="" asp-controller="About" asp-action="Clinic">
                                Поликлиника
                            </a>
                        </li>
                        <li class="green_mark">
                            <a asp-area="" asp-controller="About" asp-action="Radiation_Diagnostics">
                                Отделение лучевой диагностики
                            </a>
                        </li>
                        <li class="green_mark">
                            <a asp-area="" asp-controller="About" asp-action="Department_of_Laboratory_Research">
                                Отделение лабораторных исследований
                            </a>
                        </li>
                    </ul>


                    <div class="subtitle">
                        <b>Центр хирургии</b>
                    </div>

                    <ul class="list_of_sections">
                        <li class="green_mark">
                            <a asp-area="" asp-controller="About" asp-action="Surgery">
                                Отделение хирургии
                            </a>
                        </li>
                        <li class="green_mark">
                            <a asp-area="" asp-controller="About" asp-action="Urology">
                                Отделение урологии
                            </a>
                        </li>
                        <li class="green_mark">
                            <a asp-area="" asp-controller="About" asp-action="Anesthesiology_And_Intensive_Care">
                                Отделение анестезиологии и реанимации
                            </a>
                        </li>
                        <li class="green_mark">
                            <a asp-area="" asp-controller="About" asp-action="Traumatology_and_Orthopedics">
                                Отделение травматологии и ортопедии
                            </a>
                        </li>
                        <li class="green_mark">
                            <a asp-area="" asp-controller="About" asp-action="Operation_Unit">
                                Операционный блок
                            </a>
                        </li>
                    </ul>


                </div>
            </div>

        </div>
    </div>

    <!-- Десктопная версия -->

    <div class="row justify-content-md-center big_text_div_text_page">

        <div class="col-md-6 text_page_desktop_left_part">

            <div id="content" class="content">

                <p class="content_title">
                    Структура Центра
                </p>

                <div class="list_of_sections_box">

                    <ul class="list_of_sections">
                        <li class="green_mark">
                            <a asp-area="" asp-controller="About" asp-action="Clinic">
                                Поликлиника
                            </a>
                        </li>
                        <li class="green_mark">
                            <a asp-area="" asp-controller="About" asp-action="Radiation_Diagnostics">
                                Отделение лучевой диагностики
                            </a>
                        </li>
                        <li class="green_mark">
                            <a asp-area="" asp-controller="About" asp-action="Department_of_Laboratory_Research">
                                Отделение лабораторных исследований
                            </a>
                        </li>
                    </ul>

                    <div class="subtitle">
                        <b>Центр хирургии</b>
                    </div>
                    <ul class="list_of_sections">
                        <li class="green_mark">
                            <a asp-area="" asp-controller="About" asp-action="Surgery">
                                Отделение хирургии
                            </a>
                        </li>

                        <li class="green_mark">
                            <a asp-area="" asp-controller="About" asp-action="Urology">
                                Отделение урологии
                            </a>
                        </li>
                        <li class="green_mark">
                            <a asp-area="" asp-controller="About" asp-action="Anesthesiology_And_Intensive_Care">
                                Отделение анестезиологии и реанимации
                            </a>
                        </li>
                        <li class="green_mark">
                            <a asp-area="" asp-controller="About" asp-action="Traumatology_and_Orthopedics">
                                Отделение травматологии и ортопедии
                            </a>
                        </li>
                        <li class="green_mark">
                            <a asp-area="" asp-controller="About" asp-action="Operation_Unit">
                                Операционный блок
                            </a>
                        </li>
                    </ul>


                </div>

            </div>
        </div>

        <div class="col-md-6 big_slider_div_text_page text_page_desktop_right_part">
            <div style="margin-top: 1px; max-height: 700px;" align="right">

                <img src="~/images/Content/About/Structure/Structure.jpg" style="        width: 97%;" />

            </div>

        </div>
    </div>
</div>